# LIST and its default functions

In [20]:
lst = ["janakiramana",3,6,99.03,1234,"letsupgrade"]
lst

['janakiramana', 3, 6, 99.03, 1234, 'letsupgrade']

In [21]:
lst.append("janakiramana")
lst

['janakiramana', 3, 6, 99.03, 1234, 'letsupgrade', 'janakiramana']

In [22]:
lst.index(1234)

4

In [23]:
lst.remove("letsupgrade")
lst

['janakiramana', 3, 6, 99.03, 1234, 'janakiramana']

In [32]:
lst.pop(2)
lst

['janakiramana', 3]

In [33]:
lst.extend("letsupgrade")
lst

['janakiramana', 3, 'l', 'e', 't', 's', 'u', 'p', 'g', 'r', 'a', 'd', 'e']

# DICTIONARY and its default functions

In [72]:
dit = {"name":"janakiramana","age":"22","number":"1234567890","email":"janakiramana.m@gmail.com"}
dit

{'name': 'janakiramana',
 'age': '22',
 'number': '1234567890',
 'email': 'janakiramana.m@gmail.com'}

In [73]:
dit.pop("name")

'janakiramana'

In [74]:
dit.items()

dict_items([('age', '22'), ('number', '1234567890'), ('email', 'janakiramana.m@gmail.com')])

In [75]:
dit.popitem()

('email', 'janakiramana.m@gmail.com')

In [76]:
dit.keys()

dict_keys(['age', 'number'])

In [77]:
dit.values()

dict_values(['22', '1234567890'])

# SETS and its default functions

In [80]:
st = {"janakiramana","letsupgrade",147258369}
st

{147258369, 'janakiramana', 'letsupgrade'}

In [83]:
st.issubset(st)

True

In [84]:
st.difference()

{147258369, 'janakiramana', 'letsupgrade'}

In [95]:
st.isdisjoint("letsupgrade")

True

In [99]:
st.union("letsupgrade")

{'a', 'd', 'e', 'g', 'l', 'p', 'r', 's', 't', 'u'}

In [106]:
st.add("Nani")
st

{'Nani', 'letsupgrade', 'ramana'}

# TUPLE and its default functions

In [139]:
tup = ("janakiramana","0306","letsupgrade","pythonlearning")
tup

('janakiramana', '0306', 'letsupgrade', 'pythonlearning')

In [140]:
tup.count("0306")

1

In [142]:
tup.index("pythonlearning")

3

In [143]:
tup.index("janakiramana")

0

In [145]:
tup.count("pythonlearning")

1

In [146]:
tup.index("letsupgrade")

2

# STRING and its default functions

In [154]:
name = "Janakiramana"
name1 = "letsupgrade"
name

'Janakiramana'

In [155]:
name1

'letsupgrade'

In [156]:
name +" "+name1

'Janakiramana letsupgrade'

In [157]:
name == name1

False

In [158]:
name != name1

True